<h1>Dealer's Turn</h1>

<%=@dealer_cards%>

<div>
  <h2>Player Cards</h2>

  <% @player_cards.each do |card| %>
    <%=get_img_url(card) %>
  <% end %>
  <h2>Value: <%=interpret_result(eval_hand(@player_cards)) %></h2>
</p>

  <h2>Dealer Cards</h2>

  <% @dealer_cards.each do |card| %>
    <%=get_img_url(card) %>
  <% end %>
  <h2>Value: <%=interpret_result(eval_hand(@dealer_cards)) %></h2>

  <p>Dealer's hand: <%=@dealer_cards %><br>
  Value: <%=interpret_result(eval_hand(@dealer_cards)) %>
  </p>
</div>

<div>
  <% if @p == 100 && @d != 100 || @p != -1 && @d == -1 || @p != -1 && @d != -1 && @p > @d %>
  <p><%=@player %> has won </p>
  <% elsif @p == @d %>
  <p> No one has won. </p>
  <% else %>
  <p> Dealer has won. </p>
  <% end %>
</div>

<div>
  <form action="/query" method="post">
    <input type="submit" class="btn btn-large btn-success" value="Go again!" name="again"/>
  </form>

  <form action="/query" method="post">
    <input type="submit" class="btn btn-large btn-danger" value="I give up!" name="quit"/>
  </form>
</div>
