<!-- <h2> Blackjack! </h2> -->
<div id="game">
  <div class="well">
    <% if @show_none %>

    <div id="bet">
      <form class="form-inline" action="/bet" method="post">
	<input class="span1" type="text" value="25" name="bet">
	<input type="submit" class="btn btn-success" value="Go!"/>
      </form>
    </div>

    <% if session['player_chips'] < 1 %>
       <form id="hit" action="/replenish" method="post">
	 <input type="submit" class="btn btn-success" value="Buy 500 More Chips"/>
       </form>
       <% end %>

       <% elsif @show_player_buttons %>
       <form id="hit_me" action="/hit" method="post">
	 <input type="submit" class="btn btn-success" value="Hit Me!"/>
       </form>

       <form id="stay" action="/stay" method="post">
	 <input type="submit" class="btn btn-warning" value="Stay!"/>
       </form>
       <% end %>

       <% if @show_dealer_button %>
      <form id="dealer_hit" action="/dealer_hit" method="post">
	 <input type="submit" class="btn btn-success" value="Dealer says, 'Hit me!'."/>
       </form>
       <% end %>

       <% if @play_again_button %>
       <form id="play_again" action="/bet" method="post">
	 <input type="submit" class="btn btn-success" value="Play Again?"/>
       </form>
       <% end %>

       <div id="chips">
	 Chips: <%= session['player_chips'] %>
       </div>
  </div>

  <%if @error %>
  <div class="alert alert-error"><%=@error%></div>
  <% end %>
  <%if @success %>
  <div class="alert alert-success"><%=@success%></div>
  <% end %>
  <%if @announce %>
  <div class="alert alert-success"><%=@announce%></div>
  <% end %>

  <div class="well">
    <% if @show_none %>
    <h4>Player's Cards</h4>
    <%= get_img_url('cover') %>
    <%= get_img_url('cover') %>
    <% else %>
    <h4>Player's Cards, showing <%= eval_hand(session['player_cards'])%></h4>

    <% session['player_cards'].each do |card| %>
    <%= get_img_url(card) %>
    <% end %>
    <% end %>
  </div>


  <div class="well">
    <% if @show_none %>
    <h4>Dealer's Cards</h4>
    <%= get_img_url('cover') %>
    <%= get_img_url('cover') %>



    <% elsif @dealer_show_one %>
    <h4>Dealer's Cards, showing <%= eval_hand([session['dealer_cards'][0]]) %></h4>
    <%= get_img_url(session['dealer_cards'][0]) %>
    <%= get_img_url('cover') %>

    <% else %>
    <h4>Dealer's Cards, showing <%= eval_hand(session['dealer_cards']) %></h4>
    <% session['dealer_cards'].each do |card| %>
    <%= get_img_url(card) %>
    <% end %>
    <% end %>
  </div>
</div>
